@model Proyect.Models.Product
<html>
<body>
    <form asp-controller="Usuario" asp-action="CreateProducto" method="post" border="2">
        <div class="form-group">
            <label for="formGroupExampleInput">Id</label>
            <input asp-for="IdProducto" class="form-control" id="formGroupExampleInput" placeholder="Id">
            <span asp-validation-for="IdProducto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Producto</label>
            <input asp-for="Nombre" class="form-control" id="formGroupExampleInput2" placeholder="Producto">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Cantidad</label>
            <input asp-for="Cantidad" class="form-control" id="formGroupExampleInput2" placeholder="Cantidad">
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Precio de Compra</label>
            <input asp-for="PrecioCompra" class="form-control" id="formGroupExampleInput2" placeholder="Precio de Compra">
            <span asp-validation-for="PrecioCompra" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Precio de Venta</label>
            <input asp-for="PrecioVenta" class="form-control" id="formGroupExampleInput2" placeholder="Precio de Venta">
            <span asp-validation-for="PrecioVenta" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" value="btn" name="Agregar" data-toggle="modal" data-target="#exampleModal">Agregar</button>
        </div>
    </form>
</body>
</html>

