@model Proyect.Models.Admin
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
        <div class="container">
            <form class="form-signin" action="/Boss/Validar" method="post">
                     <h2 class="form-signin-heading">Sign in</h2>
                     <label for="inputEmail" class="sr-only">Nombre de Usuario</label>
                     <input type="text" asp-for="Nombre" class="form-control" placeholder="Username" 
                             id="username" />
                     <span asp-validation-for="Nombre" class="text-danger"></span>
                     <label for="inputPassword" class="sr-only">Contraseña</label>
                     <input type="password" asp-for="Password" class="form-control" placeholder="Password" 
                             id="password" />
                      <span asp-validation-for="Password" class="text-danger"></span>
                     <button class="btn btn-lg btn-primary btn-block" type="submit">
                       <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
                     </button>
            
            </form>
        </div> <!-- /container -->    
    </body>
</html>